<ion-view view-title="Pick Me Up - Google Maps Test">


<!-- option that shows the current location (works) -->
<!--   <ion-content ng-controller="MapController">
      <div id="map" data-tap-disabled="true"></div>
  </ion-content>
 -->

    <ion-header-bar class="bar-dark" >
      <h1 class="title">Google Maps Example</h1>
    </ion-header-bar>

      <!-- OPTION 2 -->
    <ion-content>

      <div class="card login-card">
          <div class="list">
            <form ng-submit="form.pickupreq()">
              <label class="item item-input" id="pulocation-input">
                <span class="input-label">Pick-Up Location</span>
                <input type="text" id="mycurloc" class="form-control" placeholder="Address" ng-model="location.address">
              </label>
              <div id="the-form">
                <label class="item item-input">
                  <span class="input-label">Package Type</span>
                  <input type="text" ng-model="post.packagetype">
                </label>

                <label class="item item-input">
                  <span class="input-label">Earliest Pick-Up Time</span>
                  <input type="datetime-local" ng-model="post.earlyputime">
                </label>

                <label class="item item-input">
                  <span class="input-label">Latest Pick-Up Time</span>
                  <input type="datetime-local" ng-model="post.lateputime">
                </label>

                <label class="item item-input">
                  <span class="input-label">Destination</span>
                  <input type="text" ng-model="post.destination">
                </label>

                <label class="item item-input">
                  <span class="input-label">Earliest Delivery Time</span>
                  <input type="datetime-local" ng-model="post.earlydelitime">
                </label>

                <label class="item item-input">
                  <span class="input-label">Latest Delivery Time</span>
                  <input type="datetime-local" ng-model="post.latedelitime">
                </label>

                <label class="item item-input">
                  <span class="input-label">Remarks</span>
                  <input type="text" ng-model="post.remarks">
                </label>

                <div class="login-submit-wrap">
                  <button class="button button-block button-positive">
                    Submit Request
                  </button>
                </div>
              </div>

              <div class="login-submit-wrap">
                <button type="button" id="map-button" class="button button-block button-dark login-submit" ng-click="showForm()">Submit</button>
              </div>
            </form>
          </div>
        </div>

        <div id="map" data-tap-disabled="true"></div>

<!-- angular google maps API guide -->
    <!-- <ui-gmap-google-map center='map.center' zoom='map.zoom'> -->
    <!-- </ui-gmap-google-map> -->


    </ion-content>

<!--     <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar> -->



</ion-view>
