
<ion-view view-title="PickUpReq">
  <ion-content>
    <div class="card">
      <div class="list">
        <form ng-submit="form.pickupreq()">

        <label class="item item-input">
          <span class="input-label">Pick-Up Location</span>
          <input type="text" ng-model="post.pulocation">
        </label>

        <label class="item item-input">
          <span class="input-label">Package Type</span>
          <input type="text" ng-model="post.packagetype">
        </label>

        <label class="item item-input">
          <span class="input-label">Earliest Pick-Up Time</span>
          <input type="datetime-local" ng-model="post.earlyputime">
        </label>

        <label class="item item-input">
          <span class="input-label">Latest Pick-Up Time</span>
          <input type="datetime-local" ng-model="post.lateputime">
        </label>

        <label class="item item-input">
          <span class="input-label">Destination</span>
          <input type="text" ng-model="post.destination">
        </label>

        <label class="item item-input">
          <span class="input-label">Earliest Delivery Time</span>
          <input type="datetime-local" ng-model="post.earlydelitime">
        </label>

        <label class="item item-input">
          <span class="input-label">Latest Delivery Time</span>
          <input type="datetime-local" ng-model="post.latedelitime">
        </label>

        <label class="item item-input">
          <span class="input-label">Remarks</span>
          <input type="text" ng-model="post.remarks">
        </label>

        <button class="button button-block button-positive">
        Submit Request
        </button>

      </div>
    </div>



  </ion-content>
</ion-view>



