
<ion-view view-title="PickUpReq">
  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        Make a pick-up request
      </div>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Pick up location">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Pick up time">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Package destination">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Delivery time">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Your phone number">
        </label>
      </div>     
    </div>

    <button class="button button-block button-light">
    Submit Request
    </button>

  </ion-content>
</ion-view>



