<ion-view>
  <ion-content class="index-scroll-content">
    <br>
    <br>
    <div class="card index-card">
      <div class="item item-text-wrap index-title">
        PICK<span class="me">ME</span>UP
      </div>
    </div>
    <div class="card index-card-blurb">
      <div class="item item-text-wrap index-blurb">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
    <div class="button-wrap">
      <a href="#login"><button type="button" class="button button-stable login-button">LOGIN</button>
      </a>
      <a href="#signup"><button type="button" class="button button-dark signup-button">REGISTER</button>
      </a>
    </div>

  </ion-content>
</ion-view>