
<ion-view view-title="Track Your Requests">
    <div class="tabs-striped tabs-top">
      <div class="tabs">
        <a class="tab-item" href="#/trackreq">
          <!-- <i class="icon ion-home"></i> -->
          Open
        </a>
        <a class="tab-item active" href="#/processingreq">
          <!-- <i class="icon ion-star"></i> -->
          Processing
        </a>
        <a class="tab-item" href="#/closedreq">
          <!-- <i class="icon ion-star"></i> -->
          Closed
        </a>
      </div>
    </div>
  <ion-content>
  <br>
  <br>
  <!-- Posts -->
    <div class="list card trip-card" ng-repeat="post in posts track by $index">

    <!-- Header Information -->
      <div class="item item-avatar">
        <img src="images/profile.png">
        <h2 class="trip-header">Being Delivered By: {{ post.postman_username }}</h2>
        <p class="trip-header">Package Type: {{ post.packagetype }}</p>
      </div>

      <div class="item item-body item-text-wrap trip-content">

      <!-- Location Information -->
        <div class="wrap" style="text-align: center">
          <div class="item location-item" style="border: 1px solid #ddd; border-radius: 4px; vertical-align: top">
            <b>Pick-Up Location</b>
            <br>
            {{ post.pulocation }}
            <br>
          </div>

          <div class="item arrow-item" style="border: none; display: inline-block; padding: 0px 10px; vertical-align: top; top: 25px">
            <b> > </b>
          </div>

          <div class="item location-item item-text-wrap" style="border: 1px solid #ddd; border-radius: 4px;vertical-align: top">
            <b>Delivery Location</b>
            <br>
            {{ post.destination }}
          </div>
        </div>

      <!-- Time Information -->
        <div class="wrap" style="text-align: center; vertical-align: top">
          <div class="item time-item time-item-1" style="border: none;vertical-align: top">
            <b>Pick-Up Time:</b>
             <br>
              <span style="font-size: 18px;">{{ post.earlyputime | date:'MMM-dd, h:mm a' }} <br>
               to</span>
               <br>
              <span style="font-size: 18px;">{{ post.lateputime | date:'MMM-dd, h:mm a' }}</span>
           </div>
           <div class="item time-item item-text-wrap" style="border: none;vertical-align: top">
             <b>Delivery Time:</b>
             <br>
            <span style="font-size: 18px;">{{ post.earlydelitime | date:'MMM-dd, h:mm a' }} <br>
              to</span>
              <br>
             <span style="font-size: 18px;">{{ post.latedelitime | date:'MMM-dd, h:mm a' }}</span>
          </div>
        </div>

      <!-- Remarks -->
        <p class="trip-body">
          <b>Remarks:</b>
          <br>
          {{ post.remarks }}
        </p>

      <!-- Cancel This Order Button -->
<!--         <div class="take-order-wrap">
          <button class="button button-block button-positive take-order-button" ng-click="updateStatusToProcessing($index)">
          Cancel This Order!
          </button>
        </div> -->
        <a class="button button-full icon-left ion-ios7-telephone button-positive" ng-href="tel: {{ post.postman_contactnum }}">Call {{ post.postman_username }}</a>
      </div>
    </div>

  </ion-content>
</ion-view>



