<ion-view view-title="Search Filter">
  <div class="tabs-striped tabs-top">
    <div class="tabs">
      <a class="tab-item">
        <!-- <i class="icon ion-home"></i> -->
        Filter By Pick-Up
      </a>
      <a class="tab-item">
        <!-- <i class="icon ion-star"></i> -->
        Filter By Delivery
      </a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p style="margin-bottom: 10px;"><b>&nbsp;&nbsp;Pick-Up Distance</b>:
  <div class="item range">
  <i class="icon ion-android-bicycle"></i>
  <input type="range" name="distance">
</div>

<div class="list">
  <!-- <p style="margin-top: 10px; margin-bottom: 10px;"><b>&nbsp;&nbsp; Pick-Up Location</b>: -->
<!--   <div class="item range range-positive">
    <i class="icon ion-ios-sunny-outline"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="icon ion-ios-sunny"></i> -->
  </div>
</div>
  </ion-content>
</ion-view>



