
<ion-view view-title="Search For A Trip">
  <ion-nav-buttons side="secondary">
  <a href="#/tripfilter"><button class="button" style="border-radius: 5px">Filters</button></a>
  </ion-nav-buttons>
  <ion-content>

  <!-- Posts -->
    <div class="list card trip-card" ng-repeat="post in posts track by $index">

    <!-- Header Information -->
      <div class="item item-avatar">
        <img src="images/profile.png">
        <h2 class="trip-header">{{ post.username }}</h2>
        <p class="trip-header">Package Type: {{ post.packagetype }}</p>
      </div>

      <div class="item item-body item-text-wrap trip-content">

      <!-- Location Information -->
        <div class="wrap" style="text-align: center">
          <div class="item location-item" style="border: 1px solid #ddd; border-radius: 4px; vertical-align: top">
            <b>Pick-Up Location</b>
            <br>
            {{ post.pulocation }}
            <br>
          </div>

          <div class="item arrow-item" style="border: none; display: inline-block; padding: 0px 10px; vertical-align: top; top: 25px">
            <b> > </b>
          </div>

          <div class="item location-item item-text-wrap" style="border: 1px solid #ddd; border-radius: 4px;vertical-align: top">
            <b>Delivery Location</b>
            <br>
            {{ post.destination }}
          </div>
        </div>

      <!-- Time Information -->
        <div class="wrap" style="text-align: center; vertical-align: top">
          <div class="item time-item time-item-1" style="border: none;vertical-align: top">
            <b>Pick-Up Time:</b>
             <br>
              <span style="font-size: 18px;">{{ post.earlyputime | date:'MMM-dd, h:mm a' }} <br>
               to</span>
               <br>
              <span style="font-size: 18px;">{{ post.lateputime | date:'MMM-dd, h:mm a' }}</span>
           </div>
           <div class="item time-item item-text-wrap" style="border: none;vertical-align: top">
             <b>Delivery Time:</b>
             <br>
            <span style="font-size: 18px;">{{ post.earlydelitime | date:'MMM-dd, h:mm a' }} <br>
              to</span>
              <br>
             <span style="font-size: 18px;">{{ post.latedelitime | date:'MMM-dd, h:mm a' }}</span>          </div>
        </div>

      <!-- Remarks -->
        <p class="trip-body">
          <b>Remarks:</b>
          <br>
          {{ post.remarks }}
        </p>

      <!-- Take This Order Button -->
        <div class="take-order-wrap">
          <button class="button button-block button-positive take-order-button" ng-click="updateStatusToProcessing($index)">
          Take This Order!
          </button>

        <!-- Modal Window    -->
          <script id="templates/modal.html" type="text/ng-template">
            <ion-modal-view ng-repeat="post in posts track by $index">
              <ion-header-bar class="bar bar-header bar-dark">
                <h1 class="title">Order Accepted</h1>
                <button class="button button-clear button-primary" ng-click="cancelOrder($index)">Cancel</button>
              </ion-header-bar>
              <ion-content class="padding">
                <center>
                  <br>
                  <p style="font-size: 20px;">
                    <b><span style="font-size: 20px;">Thank You For Accepting This Order.</span></b>
                    <br>
                    <br>
                    <br>
                    Please contact <b>{{ post.username }}</b> at
                    <br>
                    <span style="font-size: 25px; line-height: 40px;"><b>{{ post.contactnum }}</b></span>
                    <br>
                    to confirm delivery details.
                    <br>
                    <br>
                  </p>
                </center>
                <a class="button button-full icon-left ion-ios7-telephone button-positive" ng-href="tel: {{ post.contactnum }}">Call Now</a>
                <button class="button button-full button-dark" ng-click="callLater()">Call Later</button>
              </ion-content>
            </ion-modal-view>
          </script>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>



