body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: black;
}

.index-scroll-content {
 background: url(../images/background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index-card, .index-title {
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  text-align: center;
  color: white;
  font-size: 65px;
  line-height: 30px;
  padding: 55px 0px 25px 0px;
  text-shadow: 2px 1px 5px #000000;
}

.me {
  color: #6D7571;
}

.index-card-blurb, .index-blurb {
  background-color: rgba(33, 43, 46, 0.4);

  box-shadow: none;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  /*font-weight: bold;*/
  text-shadow: 1px 1px 2px #000000;
  line-height: 25px;
}

.button-wrap {
  text-align: center;
  margin: 40px;
}

.login-button, .signup-button, .take-order-button {
  width: 70%;
  margin: 5px 3px;
  border-style: none;
}

/***************** Login & Signup *********************/
.login-submit-wrap, .signup-submit-wrap, .take-order-wrap {
  padding: 0px 10px;
}


/***************** Home Menu *************************/
.home-menu, .item-divider {
  font-size: 18px;
}

.home-menu {
  padding-top: 30px;
  padding-bottom: 30px;
}

.profile-area {
  text-align: center;
}

.profile-picture {
  border-radius: 100px;
  max-width: 100px;
  max-height: 100px;
}

.username {
  text-transform: uppercase;`
}
/******************Search Trips***********************/

.trip-card {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.trip-content {
  padding: 15px 5px;
}


.location-item {
  display:inline-block;
  width: 44%;
  background-color: #ddd;
  padding: 15px 5px;
}

.time-item {
  display: inline-block;
  margin-top: 5px;
  width: 42%;
  padding: 15px 0;
}

.item .time-item-1 {
  margin-right: 15px;
}

.item-avatar > img:first-child {
  max-width: 45px;
  max-height: 45px;
  margin-right: 10px;
}

.item .trip-body {
  font-size: 17px;
}

/*.item .trip-header {
  margin-left: 3px;
}*/

/***************** Google Maps *********************/
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

